<div id="<%= dom_id donor %>">
  <p>
    <strong>Donor name:</strong>
    <%= donor.donor_name %>
  </p>

  <p>
    <strong>Blood type:</strong>
    <%= donor.blood_type_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= donor.city_id %>
  </p>

  <p>
    <strong>Town:</strong>
    <%= donor.town_id %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= donor.phone_number %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= donor.photo %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= donor.branch_id %>
  </p>

</div>
