<div id="<%= dom_id branch_blood %>">
  <p>
    <strong>Number of unit:</strong>
    <%= branch_blood.number_of_unit %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= branch_blood.branch_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= branch_blood.city_id %>
  </p>

  <p>
    <strong>Blood type:</strong>
    <%= branch_blood.blood_type_id %>
  </p>

</div>
