<div id="<%= dom_id request %>">
  <p>
    <strong>Email:</strong>
    <%= request.email %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= request.reason %>
  </p>

  <p>
    <strong>Requester:</strong>
    <%= request.requester_id %>
  </p>

  <p>
    <strong>Blood type:</strong>
    <%= request.blood_type_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= request.city_id %>
  </p>

  <p>
    <strong>Town:</strong>
    <%= request.town_id %>
  </p>

  <p>
    <strong>Number of units:</strong>
    <%= request.number_of_units %>
  </p>

  <p>
    <strong>Duration of search:</strong>
    <%= request.duration_of_search %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= request.branch_id %>
  </p>

</div>
